* {
    margin:0;
    padding: 0;
}

.fundo{
background: #D9F1F5;
height: 100vh;
color: aliceblue;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}

.calculadora{
position: absolute;
background: pink;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 15px;
padding: 15px;
}

.botao {
    width: 50px;
    height: 50px;
    font-size: 25px;
    background-color: rgb(239, 222, 252);
    border: none;
    cursor: pointer;
    color: #7E2881;
}

.botao:hover{
    background-color: pink;
}

#resultado {
    width: 207px;
    background: #fff;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: lightblue;
    text-align: right;
}